name: Check

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  check-hash:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: taiki-e/install-action@v2
        with:
          tool: just
      - run: just check-hash
